{{page-title "AnalyticsApp"}}
<main>
  <h2>Weather Analytics!</h2>
  <div>
   {{input value=city placeholder="City, Country"}}
    <button {{action "searchWeatherForecast" city}}>Search Weather Forecast</button>
  </div>
</main>
{{#each @model as |3hourly|}}
<div>{{3hourly}}</div>
{{/each}}
 
