{{page-title "AnalyticsApp"}}
<main>
  <h2>Weather Analytics!</h2>
  <div>
   {{input value=city placeholder="City"}}
    <button {{action "searchWeatherForecast" city}}>Search Weather Forecast</button>
  </div>
</main>
 
